@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.gstatic.com/s/kurale/v4/4iCs6KV9e9dXjhoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

article {
    color: #35373b;
}

footer {
    bottom: 0;
    height: 2.5vh;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 10;
}

footer p {
    margin-top: 0;
    padding-top: 0;
}

header {
    height: 9vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

header h1 {
    color: #15376a;
    font-family : 'Kurale', 'PT Sans', sans-serif;
    font-size: 3.2vh;
    padding-top: 1vh;
    text-indent: 12vw;
}

img {
    display: block;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}
/*input {

}*/

label {
    display: inline-block;
}

main {
    margin-bottom: 6vh;
    /*margin-top: 12vh;*/
    padding-left: 10vw;
    padding-right: 10vw;
}

main h2, main h3 {
    color: #15376a;
    font-family : 'Kurale', 'PT Sans', sans-serif;
    text-indent: 9.5vh;
}

main p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 2vh;
    padding: 1vh;
    text-align: justify;
    text-indent: 6.5vh;
}

nav {
    height: 4vh;
    margin-top: 1vh;
    position: fixed;
    left: 0;
    text-align: center;
    top: 8vh;
    width: 100%;
    z-index: 10;
}

nav li {
    color: #15376a;
    display: inline-table;
    font-size: 2vh;
    list-style-type: none;
    margin: 1vh;
    text-decoration: none;
    width: 10vw;
}

.ancre {
    padding-top: 14vh;
}

.direction {
    background-color: #15376a;
    border-radius: 25px;
    color: white;
    display: inline-table;
    height: 3vh;
    width: 3vh;
}

#adhesion{
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}

#asso {
    display: inline-block;
}

#asso p {
    font-size: 1.8vh;
}

#clock {
    display: inline-block;
    font-size: 2vh;
}

#diapo2 {
    height: 30vh;
    width: 30vh;
}

#diaporama {
    margin-left: auto;
    margin-right: auto;
    padding-top : 3vh;
}

#diaporama2 {
    float: left;
    margin-left: 3vh;
    margin-right: 2.8vh;
    margin-top: 3.8vh;
    text-align: center;
}

#manuel {
    text-align: center;
}

#nomDuRoi {
    display: inline-block;
    font-size: 2vh;
    text-align: center;
    text-indent: 0 !important;
    width: 20vh;
}

#nomDuRoi2 {
    display: inline-block;
    font-size: 2vh;
    margin-bottom: 0;
    text-align: center;
    text-indent: 0 !important;
}

@media all and (max-width: 1025px) {
    footer p {
        display: none;
    }
    header {
        height: 5vh;
    }
    header h1 {
        font-size: 2.3vh;
        text-align: center;
        text-indent: 0;
    }
    main {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    main h2, main h3 {
        text-indent: 0;
    }
    nav {
        height: 8vh;
        top: 4vh;
    }
    nav li {
        font-size: 1.8vh;
        margin: 0.5vh;
    }
    .ancre {
        padding-top: 13vh;
    }
}